* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #D35257;
  --body-background: #FAFDFF;
  --default-margin: 2em;
}

body {
  background-color: var(--body-background);
}

a {
  text-decoration: none;
  color: inherit;
}

.anton {
  font-family: 'Anton', sans-serif;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.main-header {
  background-color: var(--main-color);
  color: #fff;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1em;
  box-shadow: 0 1px 5px 0 black;
  margin-bottom: var(--default-margin);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between
}

.menu-actions a {
  margin-right: 1rem;
  font-weight: bold;
  letter-spacing: 0.09  em;
}

.menu-actions a:last-child {
  margin-right: 0;
}

.error-container {
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  padding: 1em 0;
}